force-app/main/default/flows/ALF_Agent_Force_Prompt_Builder_Document_Validation.flow-meta.xml
<?xml version="1.0" encoding="UTF-8"?>
<Flow xmlns="http://soap.sforce.com/2006/04/metadata">
    <actionCalls>
        <description>Thes action calls agentForce Document Validation Prompt builder and return output of document validations.</description>
        <name>Invoke_AgentForce_Document_Validation_Prompt_Builder</name>
        <label>Invoke AgentForce Document Validation Prompt Builder</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <actionName>Document_Validation</actionName>
        <actionType>generatePromptResponse</actionType>
        <connector>
            <targetReference>Store_Success_Response</targetReference>
        </connector>
        <faultConnector>
            <targetReference>Stores_Failure_Response</targetReference>
        </faultConnector>
        <flowTransactionModel>CurrentTransaction</flowTransactionModel>
        <inputParameters>
            <name>Input:DesiredOutput</name>
            <value>
                <elementReference>desiredOutput</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:File</name>
            <value>
                <elementReference>Get_Content_Document_Record</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:Task</name>
            <value>
                <elementReference>task</elementReference>
            </value>
        </inputParameters>
        <inputParameters>
            <name>Input:OptionalText</name>
            <value>
                <elementReference>optionalText</elementReference>
            </value>
        </inputParameters>
        <nameSegment>Document_Validation</nameSegment>
        <offset>0</offset>
        <outputParameters>
            <assignToReference>response</assignToReference>
            <name>promptResponse</name>
        </outputParameters>
    </actionCalls>
    <apiVersion>64.0</apiVersion>
    <areMetricsLoggedToDataCloud>false</areMetricsLoggedToDataCloud>
    <description>This auto launch flow calls Agent Force Prompt Builder (Document Validation) from Action and returns output.</description>
    <environments>Default</environments>
    <interviewLabel>ALF - Agent Force Prompt Builder - Document Validation {!$Flow.CurrentDateTime}</interviewLabel>
    <label>ALF - Agent Force Prompt Builder - Document Validation</label>
    <processMetadataValues>
        <name>BuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>CanvasMode</name>
        <value>
            <stringValue>AUTO_LAYOUT_CANVAS</stringValue>
        </value>
    </processMetadataValues>
    <processMetadataValues>
        <name>OriginBuilderType</name>
        <value>
            <stringValue>LightningFlowBuilder</stringValue>
        </value>
    </processMetadataValues>
    <processType>AutoLaunchedFlow</processType>
    <recordCreates>
        <description>Store Document Validation Response</description>
        <name>Store_Success_Response</name>
        <label>Store Success Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Content_Document_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Validation_Response__c</field>
            <value>
                <elementReference>response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>sourceRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Success</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Agent_Force_Validation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordCreates>
        <description>This store&apos;s failure response from AgentForce</description>
        <name>Stores_Failure_Response</name>
        <label>Stores Failure Response</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <inputAssignments>
            <field>Content_Document_Record_Id__c</field>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Document_Validation_Response__c</field>
            <value>
                <elementReference>response</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Record_Id__c</field>
            <value>
                <elementReference>sourceRecordId</elementReference>
            </value>
        </inputAssignments>
        <inputAssignments>
            <field>Status__c</field>
            <value>
                <stringValue>Failed</stringValue>
            </value>
        </inputAssignments>
        <object>Document_Agent_Force_Validation_Log__c</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordCreates>
    <recordLookups>
        <description>LEM-0045 : System should return content file details of selected record Id.</description>
        <name>Get_Content_Document_Record</name>
        <label>Get Content Document Record</label>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <assignNullValuesIfNoRecordsFound>false</assignNullValuesIfNoRecordsFound>
        <connector>
            <targetReference>Invoke_AgentForce_Document_Validation_Prompt_Builder</targetReference>
        </connector>
        <filterLogic>and</filterLogic>
        <filters>
            <field>Id</field>
            <operator>EqualTo</operator>
            <value>
                <elementReference>recordId</elementReference>
            </value>
        </filters>
        <getFirstRecordOnly>true</getFirstRecordOnly>
        <object>ContentDocument</object>
        <storeOutputAutomatically>true</storeOutputAutomatically>
    </recordLookups>
    <start>
        <locationX>0</locationX>
        <locationY>0</locationY>
        <connector>
            <targetReference>Get_Content_Document_Record</targetReference>
        </connector>
    </start>
    <status>Active</status>
    <variables>
        <description>Stores instruction for desired output. Ex: System should return output in JSON format.</description>
        <name>desiredOutput</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores option text. Ex: Return Approved or Rejected.</description>
        <name>optionalText</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>It stores file record Id. Source system must provide Content Document record id here.</description>
        <name>recordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores AgentForce document validation response.</description>
        <name>response</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>false</isInput>
        <isOutput>true</isOutput>
    </variables>
    <variables>
        <description>Stores source record id</description>
        <name>sourceRecordId</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
    <variables>
        <description>Stores prompt instruction for AgentForce</description>
        <name>task</name>
        <dataType>String</dataType>
        <isCollection>false</isCollection>
        <isInput>true</isInput>
        <isOutput>false</isOutput>
    </variables>
</Flow>
